* {
    margin: 0;
    padding: 0;
    background-color: #404040;
    color: #fff;
    font-family: 'Bad Script', cursive;
}

.content {
    width: 1160px;
    margin: 0 auto;
}

.clearer {
    clear: both;
}

h1, h2 {
    margin-top: 2%;
    text-align: center;
    opacity: 75%;
}

h2 {
    margin: 0.8%;
}

.img {
      text-align: center;
}

img {
    width: 270px;
    height: 270px;
    margin: 5px;
    border: none;
    border-radius: 7px;
    opacity: 75%;
}

ul {
    list-style-type: none;
}

/* mobile view */ 

@media screen and (max-width: 576px) {

    * {
        font-size: smaller;
        background-color: rgba(0, 0, 0, 0.575);
    }

    h1 {
        padding: 0.5%;
        margin-left: 21.4%;
        float: left;
    }

    h2 {
        padding: 0.2%;
        margin-left: 18.6%;
        float: left;
    }

    .content {
       width: 576px;
       margin: 0 auto;
    }

    img {
        width: 55%;
        margin-left: 3.8%;
        float: left;
        display: block;
    }

}
